In [2]:
import pandas as pd
import json

import os

# Teacher and Student Performance

In [3]:
teacher_f = json.load(open('./logs/teacher/teacher.json','r'))
teacher_f['best_acc']

FileNotFoundError: [Errno 2] No such file or directory: './logs/teacher/teacher.json'

In [31]:
student_f = json.load(open('./logs/student/student.json','r'))
student_f['best_acc']

0.6128

# Student Performance per Alpha and Temperature

In [49]:
alpha_lst="0.1 0.25 0.5 0.75 0.9".split(' ')
temperature_lst="1.0 2.5 5.0 7.5 10".split(' ')

In [50]:
def best_acc_per_method(method, alpha_lst, temperature_lst):
    acc_lst = []
    acc_per_alpha = []
    for alpha in alpha_lst:
        acc = []
        for temp in temperature_lst:
            try:
                fname = os.path.join(f'./logs/simplecnn/{method}/KD_student_alpha{alpha}_temp{temp}/student.json')
                f = json.load(open(fname,'r'))
                acc.append(f['best_acc'])
            except:
                acc.append(0)
        acc_per_alpha.append(acc)
        
    result = pd.DataFrame(acc_per_alpha,
                          columns=[f'temperature{temp}' for temp in temperature_lst],
                          index=[f'alpha{alpha}' for alpha in alpha_lst])

    return result

# Simple CNN

## Method1

In [51]:
method1_result = best_acc_per_method(method='method1',
                                     alpha_lst=alpha_lst,
                                     temperature_lst=temperature_lst+[20, 30, 40, 50])

In [52]:
method1_result

,temperature1.0,temperature2.5,temperature5.0,temperature7.5,temperature10,temperature20,temperature30,temperature40,temperature50
alpha0.1,0.6113,0.6117,0.6100,0.6121,0.6095,0.6127,0.6095,0.6096,0.6115
alpha0.25,0.6108,0.6086,0.6103,0.6187,0.6177,0.6226,0.6201,0.6213,0.6206
alpha0.5,0.6118,0.6198,0.6193,0.6205,0.6255,0.6238,0.6233,0.6245,0.6245
alpha0.75,0.6106,0.6227,0.6227,0.6215,0.6227,0.6214,0.6228,0.6205,0.6208
alpha0.9,0.6122,0.6194,0.6257,0.6218,0.6178,0.6150,0.6146,0.6136,0.6136

### scheduler

In [93]:
alpha_lst = [0.5, 0.9]
temp_lst = [10.0, 5.0]
acc = []
for i in range(len(alpha_lst)):
    fname = os.path.join(f'./logs/simplecnn/method1/KD_student_alpha{alpha_lst[i]}_temp{temp_lst[i]}_scheduler/student.json')
    f = json.load(open(fname,'r'))
    acc.append(f['best_acc'])

In [94]:
pd.DataFrame(acc, columns=['simplecnn'], index=['alpha0.5 temp10.0', 'alpha0.9 temp5.0']).T

           alpha0.5 temp10.0  alpha0.9 temp5.0
simplecnn             0.5804            0.5748

## Method2

In [77]:
alpha_lst="0.1 0.25 0.5 0.75 0.9".split(' ')
temperature_lst="1.0 2.5 5.0 7.5 10.0".split(' ')

In [78]:
method2_result = best_acc_per_method(method='method2',
                                     alpha_lst=alpha_lst,
                                     temperature_lst=temperature_lst)

In [79]:
method2_result

,temperature1.0,temperature2.5,temperature5.0,temperature7.5,temperature10.0
alpha0.1,0.6113,0.6080,0.6120,0.6111,0.6113
alpha0.25,0.6108,0.6126,0.6101,0.6141,0.6175
alpha0.5,0.6118,0.6097,0.6125,0.6242,0.6209
alpha0.75,0.6106,0.6101,0.6191,0.6191,0.6179
alpha0.9,0.6122,0.6091,0.6183,0.6177,0.6116

### scheduler

In [91]:
alpha_lst = [0.5]
temp_lst = [7.5]
acc = []
for i in range(len(alpha_lst)):
    fname = os.path.join(f'./logs/simplecnn/method2/KD_student_alpha{alpha_lst[i]}_temp{temp_lst[i]}_scheduler/student.json')
    f = json.load(open(fname,'r'))
    acc.append(f['best_acc'])

In [92]:
pd.DataFrame(acc, columns=['simplecnn'], index=['alpha0.5 temp7.5']).T

           alpha0.5 temp7.5
simplecnn            0.6234

## Method3

In [83]:
alpha_lst="0.1 0.25 0.5 0.75 0.9".split(' ')
temperature_lst="1.0 2.5 5.0 7.5 10.0".split(' ')

In [84]:
method3_result = best_acc_per_method(method='method3',
                                     alpha_lst=alpha_lst,
                                     temperature_lst=temperature_lst)

In [85]:
method3_result

,temperature1.0,temperature2.5,temperature5.0,temperature7.5,temperature10.0
alpha0.1,0.6083,0.6011,0,0.5173,0
alpha0.25,0.6106,0.4389,0,0.0000,0
alpha0.5,0.6054,0.0000,0,0.0000,0
alpha0.75,0.6052,0.0000,0,0.0000,0
alpha0.9,0.6035,0.0000,0,0.0000,0

# ResNet 18

## Method1

In [86]:
alpha_lst = [0.5, 0.9]
temp_lst = [10.0, 5.0]
acc = []
for i in range(len(alpha_lst)):
    fname = os.path.join(f'./logs/resnet18/method1/KD_student_alpha{alpha_lst[i]}_temp{temp_lst[i]}/student.json')
    f = json.load(open(fname,'r'))
    acc.append(f['best_acc'])

In [87]:
pd.DataFrame(acc, columns=['resnet18'], index=['alpha0.5 temp10.0', 'alpha0.9 temp5.0']).T

          alpha0.5 temp10.0  alpha0.9 temp5.0
resnet18             0.9021            0.8812

### Scheduler

In [88]:
alpha_lst = [0.5, 0.9]
temp_lst = [10.0, 5.0]
acc = []
for i in range(len(alpha_lst)):
    fname = os.path.join(f'./logs/resnet18/method1/KD_student_alpha{alpha_lst[i]}_temp{temp_lst[i]}_scheduler/student.json')
    f = json.load(open(fname,'r'))
    acc.append(f['best_acc'])

In [89]:
pd.DataFrame(acc, columns=['resnet18'], index=['alpha0.5 temp10.0', 'alpha0.9 temp5.0']).T

          alpha0.5 temp10.0  alpha0.9 temp5.0
resnet18              0.914            0.8527

## Method2

In [97]:
alpha_lst = [0.5]
temp_lst = [7.5]
acc = []
for i in range(len(alpha_lst)):
    fname = os.path.join(f'./logs/resnet18/method2/KD_student_alpha{alpha_lst[i]}_temp{temp_lst[i]}/student.json')
    f = json.load(open(fname,'r'))
    acc.append(f['best_acc'])

In [98]:
pd.DataFrame(acc, columns=['resnet18'], index=['alpha0.5 temp7.5']).T

          alpha0.5 temp7.5
resnet18            0.9037

### Scheduler

In [99]:
alpha_lst = [0.5]
temp_lst = [7.5]
acc = []
for i in range(len(alpha_lst)):
    fname = os.path.join(f'./logs/resnet18/method2/KD_student_alpha{alpha_lst[i]}_temp{temp_lst[i]}_scheduler/student.json')
    f = json.load(open(fname,'r'))
    acc.append(f['best_acc'])

In [100]:
pd.DataFrame(acc, columns=['resnet18'], index=['alpha0.5 temp7.5']).T

          alpha0.5 temp7.5
resnet18            0.9099